* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
.side-bar {
  height: 100vh;
  width: 250px;
  position: fixed;
  background-color: #6c63ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.side-bar > * {
  margin-top: 20px;
}
.nav-secondary {
  display: none;
  color: #000;
  position: fixed;
  color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #6c63ff;
}
.name {
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.name-underline {
  width: 20%;
  display: block;
  height: 7px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header-underline {
  display: block;
  width: 50px;
  height: 7px;
  margin-top: 5px;
  background-color: #6c63ff;
  border: none;
  border-radius: 5px;
}
.nav-bar {
  list-style-type: none;
  width: 100%;
}
.nav {
  display: block;
  width: 100%;
  margin: 5px auto;
  text-align: center;
}
.nav a {
  display: inline-block;
  width: 50%;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
.nav:hover a {
  border-bottom: 0.5px solid #fff;
}
.social-nav {
  width: 100%;
  text-align: center;
}
.social-nav-right {
  display: none;
}
.social-icon {
  display: inline;
  color: #fff;
  font-size: 25px;
  margin: 5px;
}
.content {
  height: 1000px;
  position: absolute;
  left: 250px;
  right: 0;
  top: 0;
}
.home {
  height: 95vh;
  position: relative;
  background: #fff url("../images/freelancer.png") no-repeat right center fixed;
  background-size: 700px;
}
.header-gp {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}
.header {
  font-size: 35px;
}
.header-gp * {
  margin: 35px;
}
.btn-primary {
  display: block;
  padding: 1em 2em;
  border: none;
  background-color: #fff;
  border: 1px solid #6c63ff;
  color: #6c63ff;
}
.btn-primary:focus {
  outline: none;
}
.btn-primary:hover {
  outline: none;
  color: #fff;
  background: #6c63ff;
}
.home-img {
  width: 500px;
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

/* about area start  */
.about-me {
  padding: 20px;
  padding-top: 3em;
}
.about-text {
  text-align: justify;
  line-height: 1.5em;
  margin: 2em 1em;
}
.hightlight-text {
  color: #6c63ff;
  font-weight: bold;
}
/* about area end */

/* skills area start  */
.skills {
  padding: 20px;
  padding-top: 3em;
}
.frontend,
.backend {
  margin: 2em 1em;
}
.skill {
  margin: 1em 0;
}
.progress-bar {
  width: 20%;
  height: 10px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.progress {
  display: block;
  width: 50%;
  height: 9px;
  margin: 0;
  background-color: #6c63ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* skills area end */

/* experience area start */
.experience {
  padding: 20px;
  padding-top: 3em;
}
.experiences {
  list-style-type: none;
  margin: 2em 0;
}
.exp {
  margin: 2em 0;
}
.exp * {
  margin: 0.5em 0;
}
.position {
  font-size: large;
}
.company {
  text-decoration: none;
  color: #6c63ff;
}
.exp-date {
  margin: 0 1em;
}
.exp-text {
  line-height: 1.5em;
  text-align: justify;
}
.exp i {
  margin-right: 0.5em;
}
/* experience area end */

/* contact area start*/
.contact {
  padding: 20px;
  padding-top: 3em;
}
.row {
  display: flex;
  justify-content: space-around;
}
.contact-form {
  flex: 50%;
  box-sizing: border-box;
}
.contact-form input,
.contact-form textarea {
  display: block;
  border: none;
  width: 100%;
  margin: 1em 0;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  padding: 1em;
}
::placeholder {
  color: #6c63ff;
}
.contact-form textarea {
  resize: none;
  padding: 0.5em;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-info {
  flex: 50%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info li {
  margin: 1em 0;
}
/* contact area end */

/* footer start */

.footer {
  text-align: center;
  line-height: 4em;
  background-color: #6c63ff;
  color: #fff;
}

/* footer end */

@media screen and (max-width: 800px) {
  .row {
    display: block;
  }
  .home {
    background-position: right bottom;
    background-size: 400px;
  }
  .header-gp {
    top: 30%;
  }

  .about-me,
  .skills,
  .experience,
  .contact {
    padding-top: 5em;
  }
  .social-icon {
    margin: 0;
  }
}
@media screen and (max-width: 650px) {
  .side-bar {
    top: 10%;
    z-index: 1;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  .content {
    display: block;
    position: static;
  }
  .home {
    background-attachment: scroll;
  }
  .nav-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-img {
    display: block;
    width: 100px;
    margin: 0 auto;
  }

  .social-nav {
    display: none;
  }
  .social-nav-right {
    display: block;
    margin-right: 20px;
  }
  .social-nav a,
  .social-nav-right a {
    text-decoration: none;
  }
  .nav-left {
    padding: 0;
    position: relative;
  }
  .menu-bar {
    margin: 0 20px;
  }
  .social-icon {
    margin: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
  }
  100% {
    left: 0;
    transform: translate(0.1%, 0);
    -webkit-transform: translate(0.1%, 0);
    -moz-transform: translate(0.1%, 0);
    -ms-transform: translate(0.1%, 0);
    -o-transform: translate(0.1%, 0);
  }
}
@keyframes slide-out {
  0% {
    transform: translate(0.1%, 0);
    -webkit-transform: translate(0.1%, 0);
    -moz-transform: translate(0.1%, 0);
    -ms-transform: translate(0.1%, 0);
    -o-transform: translate(0.1%, 0);
  }
  100% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
  }
}
@media screen and (max-width: 500px) {
  .social-icon {
    margin: 0;
  }
}
